.articleUnlock {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: var(--frak-panel-background-color);
}

.articleUnlock__title {
    font-size: 18px;
    margin-bottom: 10px;
}
