.articleUnlock__timer {
    padding-left: 40px;
}

.articleUnlock__isAllowed {
    color: var(--frak-color-green);
}

.articleUnlock__isNotAllowed {
    color: var(--frak-color-red);
}

.articleUnlock__title {
    color: #7c7b8c;
    font-weight: 400;
}

.articleUnlock__titleText {
    line-height: 1.4em;
}

.articleUnlock__titleText > span {
    display: block;
}

.articleUnlock__provider {
    color: var(--frak-text-color);
}

.articleUnlock__image {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

:root[data-theme="dark"] .articleUnlock__image--fallback {
    background-color: var(--frak-color-blue-zodiac);
}
