.triggerDetails__columnTitle {
    font-size: 14px;
    color: var(--frak-color-grayText);
    margin-bottom: 6px;
}

.triggerDetailsReward__column {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    align-items: flex-start;
    border: 1px solid var(--frak-color-mischka);
    border-radius: 8px;
    padding: 8px;
}

.triggerDetailsReward__columnLabel {
    font-size: 13px;
    font-weight: 500;
}

.triggerDetailsReward__columnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.triggerDetailsRewardRange__column {
    display: flex;
    flex-direction: column;
}
