.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.size--medium {
    font-size: 14px;
    font-weight: 500;
}

.size--big {
    font-size: 21px;
    font-weight: 600;
}

.align--left {
    justify-content: flex-start;
}

.align--center {
    justify-content: center;
}

.title__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
