.checkbox {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 2px solid var(--frak-checkbox-border-color);
    border-radius: 6px;
    background-color: var(--frak-checkbox-background-color);

    &:focus-visible {
        box-shadow: 0 0 0 1px var(--frak-focus-border-color);
    }
}

.checkbox[data-state="checked"] {
    border: 2px solid var(--frak-checkbox-checked-border-color);
    background-color: var(--frak-checkbox-checked-background-color);
    color: var(--frak-checkbox-checked-text-color);
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox__indicator {
    display: flex;
}
