.sso__grid {
    margin-top: 0 !important;
}

.sso__logo {
    margin: 0 auto var(--frak-spacing-l) auto;
    display: block;
    max-width: 70%;
}

.sso__title {
    font-size: var(--alias-fontsize-29);
    font-weight: var(--brand-fontweight-regular);
    color: var(--color-wallet-gray-dark);
}

.sso__ahead {
    font-size: var(--alias-fontsize-2xs);
}

.sso__previousWallet {
    font-size: var(--alias-fontsize-xs);
    max-width: 70%;
    margin: var(--alias-spacing-18) auto 0;
    text-align: center;
}

.sso__link {
    color: var(--color-wallet-sso-blue);
}

.sso__buttonLink {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
    font-size: var(--alias-fontsize-13);
}

.sso__notice {
    color: var(--color-wallet-gray-darker) !important;
    font-size: var(--alias-fontsize-11) !important;
}

.sso__primaryButtonWrapper {
    margin-top: var(--alias-spacing-23);
    text-align: center;
}

.sso__secondaryButtonWrapper {
    margin-top: var(--alias-spacing-18);
    text-align: center;
}

.sso__recover {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-2xs);
    margin-top: var(--alias-spacing-ms);
    color: var(--color-wallet-gray-darker);
    font-size: var(--alias-fontsize-11);
}

.sso__redirect {
    margin-top: var(--alias-spacing-20);
}
