.ssoHeader {
    display: flex;
    gap: var(--brand-scale-225);
    align-items: center;
    padding: var(--frak-spacing-s) var(--brand-scale-175);
    border-bottom: 1px solid var(--color-wallet-sso-muted);
}

.ssoHeader__title {
    margin: 0;
    font-size: var(--brand-fontsize-110);
    font-weight: var(--brand-fontweight-regular);
    color: var(--alias-neutral-default);
}
