parameters:
    level: 5
    paths:
        - frak-integration.php
        - includes
        - admin/class-frak-admin.php
    excludePaths:
        - vendor
        - test
    scanDirectories:
        - vendor/php-stubs
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    bootstrapFiles:
        - phpstan-bootstrap.php
