:root {
    --animation-duration-width: .3s;
    --animation-duration-height: .3s;
}

@media (min-width: 431px) {
    /* Slower animation for larger screens */
    :root {
        --animation-duration-width: .55s;
    }
}

.modalListenerWallet {
    position: fixed;
    bottom: 19px;
    z-index: 20;
    border-radius: 25px;
    border: 2px solid #fff;
    text-align: center;
    animation: resize-width var(--animation-duration-width) ease-in-out forwards,
        resize-height var(--animation-duration-height) ease-in-out forwards;
    min-height: 48px;
    max-width: 430px;
    background: radial-gradient(
        75.96% 75.96% at 50.42% 24.04%,
        #f2f2f2 20%,
        #3e557e 100%
    );
    color: #1d1d1d;
}

.modalListenerWallet__right {
    right: 19px;
}

.modalListenerWallet__left {
    left: 19px;
}

@keyframes resize-width {
    0% {
        width: 0;
    }
    70% {
        width: calc(102% - 40px);
    }
    100% {
        width: calc(100% - 40px);
    }
}

@keyframes resize-height {
    0% {
        height: 0;
    }
    70% {
        height: 360px;
    }
    100% {
        height: auto;
        min-height: 350px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modalListenerWallet__inner {
    opacity: 0;
    padding: 40px;
    height: 100%;
    overflow: hidden;
    animation: opacity .3s .2s forwards;
    /* Create a new stacking context for the toaster to be inside our modal */
    transform: translateZ(0);
}

.modalListenerWallet__inner--loggedIn {
    padding: 9px;
}

.modalListenerWallet__header {
    position: relative;

    & h1 {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

.modalListenerWallet__logoFrak {
    position: absolute;
    left: 0;
    top: 8px;
}

.modalListenerWallet__logo {
    margin-bottom: 30px;
    max-width: 50%;
}

.modalListenerWallet__inner--loggedIn .modalListenerWallet__logo {
    margin-bottom: 10px;
    max-width: 30%;
}
