.signatureRequest {
    background: var(--color-wallet-pairing-bg) !important;
}

.signatureRequest__description {
    margin: var(--alias-spacing-ms) 0 var(--alias-spacing-15) 0;
}

.signatureRequest__from {
    background: var(--frak-header-background-color);
    border-radius: var(--alias-cornerradius-6);
    padding: var(--alias-spacing-2) var(--frak-spacing-xs);
    color: var(--alias-neutral-white);
    border: 1px solid var(--alias-neutral-white);
}

.signatureRequest__buttons {
    display: flex;
    gap: var(--alias-spacing-ms);
    justify-content: center;
    margin: var(--alias-spacing-ms) 0;
}

.signatureRequest__state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--alias-spacing-12);
    background-color: var(--frak-color-blue-zodiac-darker);
    border-radius: var(--frak-radius-s);
    font-size: var(--alias-fontsize-xs);
    font-weight: var(--brand-fontweight-medium);
}

.signatureRequest__stateLabel {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-2xs);
}

.signatureRequest__stateLabelError {
    display: flex;
    color: var(--frak-color-red);
}

.signatureRequest__stateLabelSuccess {
    color: var(--frak-color-green);
}
