.signatureRequest {
    background: #536187 !important;
}

.signatureRequest__description {
    margin: 10px 0 15px 0;
}

.signatureRequest__from {
    background: var(--frak-header-background-color);
    border-radius: 6px;
    padding: 2px 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.signatureRequest__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.signatureRequest__state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: var(--frak-color-blue-zodiac-darker);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
}

.signatureRequest__stateLabel {
    display: flex;
    align-items: center;
    gap: 5px;
}

.signatureRequest__stateLabelError {
    display: flex;
    color: var(--frak-color-red);
}

.signatureRequest__stateLabelSuccess {
    color: var(--frak-color-green);
}
