.sessionsList {
    margin-top: 30px;
}

.topicItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topicItem + .topicItem {
    margin-top: 20px;
}

.topicItem__button {
    display: flex;
    margin-left: auto;
}

.drawerWalletConnect__trigger {
    width: 100%;
}

.alertDialogWalletConnect {
    display: block;
    width: 100%;
}

.alertDialogWalletConnect + .alertDialogWalletConnect {
    margin-top: 10px;
}
