.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
    padding-top: 3px;
    width: 100%;
    min-height: 38px;
}

.header__panel + .header__panel {
    margin-top: 8px !important;
}

.header__logo {
    position: absolute;
    margin-top: -18px;
    top: 50%;
    left: 0;
}

.header__title {
    display: flex;
    margin: 0;
}
