.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
    min-height: 38px;
}

.header__logo {
    position: absolute;
    margin-top: -18px;
    top: 50%;
    left: 0;
}

.header__title {
    display: flex;
    margin: 0;
}

.header__wallet {
    color: #3F5279;
}
