.pairingStatus {
    display: inline-block;
}

.pairingStatus__connecting,
.pairingStatus__paired {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--alias-spacing-2xs);
}
