.pairingStatus {
    display: inline-block;
}

.pairingStatus__connecting,
.pairingStatus__paired {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--brand-scale-75);
}
