.campaignStatus__status {
}

.loading {
    color: var(--frak-color-cerulean);
}

.paused {
    color: var(--frak-color-pale-sky);
}

.active {
    color: var(--frak-color-malachite);
}

.stopped {
    color: var(--frak-color-red);
}
