.articleItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
    text-decoration: none;
}

.articleItem__image {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

.articleItem__title {
    font-size: 18px;
    color: #0D141C;
}

.articleItem__description {
    font-size: 16px;
    color: #4F7396;
}
