<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="fraklabs" translate="label" sortOrder="500">
            <label>Frak</label>
        </tab>
        <section id="fraklabs_sdk" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Frak SDK</label>
            <tab>fraklabs</tab>
            <resource>FrakLabs_Sdk::config</resource>

            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Frak SDK</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant ID</label>
                    <comment>UUID from Frak business dashboard</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Webhook Secret</label>
                    <comment>HMAC signing key from Frak webhook settings (website scope so all store views in the same website share one secret)</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>

            <group id="urls" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>URLs</label>
                <field id="wallet_url" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wallet URL</label>
                    <comment>Default: https://wallet.frak.id</comment>
                </field>
                <field id="components_url" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Components CDN URL</label>
                    <comment>Default: https://cdn.jsdelivr.net/npm/@frak-labs/components@latest</comment>
                </field>
                <field id="backend_url" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backend URL</label>
                    <comment>Default: https://backend.frak.id</comment>
                </field>
            </group>

            <group id="appearance" translate="label" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Appearance</label>
                <field id="language" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language</label>
                    <source_model>FrakLabs\Sdk\Model\Config\Source\Language</source_model>
                </field>
                <field id="logo_url" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo URL</label>
                    <comment>Custom logo for Frak SDK modals</comment>
                </field>
                <field id="share_button_enabled" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Share Button on Product Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wallet_button_position" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wallet Button Position</label>
                    <source_model>FrakLabs\Sdk\Model\Config\Source\ButtonPosition</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
