# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/.open-next/
/out/
**/.next/
**/.open-next/
**/out/

# build
.react-router
.rslib
.turbo
generated-docs/
.output
.nitro

# production
build
dist
cdn

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.tmp
.env*.local

# typescript
*.tsbuildinfo

# sst
cdk.context.json
.sst
sst-env.d.ts

# IDE
.idea

# Svelte
.svelte-kit
