.header {
    position: relative;
    padding: 9px 0;
}

.header__title {
    margin: 0;
    text-align: center;
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger,
.header__search {
    position: absolute;
    top: 50%;
}

.header__burger {
    left: 11px;
    margin-top: -6px;
}

.header__search {
    right: 11px;
    margin-top: -7px;
}
