.tokenMax__button {
    margin: 0 0 -3px var(--brand-scale-175);
    padding: var(--brand-scale-125) var(--brand-scale-175)
        var(--brand-scale-125) var(--brand-scale-175);
    background-color: var(--frak-token-max-background-color);
    border: none;
    font-size: var(--alias-fontsize-xs);
    cursor: pointer;
    color: var(--frak-token-max-color);
}
