:root {
    --font-family-sans:
        "-apple-system", "BlinkMacSystemFont", "system-ui", "Segoe UI", "Roboto",
        "Ubuntu", "sans-serif";
    --font-family: "Inter", var(--font-family-sans);
}

html {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: var(--frak-link-color);
    text-decoration: none;
}

.error {
    color: var(--frak-color-red);
}

.success {
    color: var(--frak-color-green);
}
