:root {
    --frak-text-color: var(--frak-color-white);
    --frak-link-color: var(--frak-color-white);
    --frak-background-color: var(--frak-color-dark);
    --frak-contrast-background-color: var(--frak-color-blue-zodiac-darker);
    --frak-panel-background-color: var(--frak-color-tangaroa);
    --frak-panel-outlined-border-color: var(--frak-color-blue-zodiac-darker);
    --frak-panel-shadow-color: var(--frak-shadow-color);
    --frak-panel-border-color: rgba(129, 140, 156, .2);
    --frak-header-background-color: var(--frak-color-blur);
    --frak-navigation-background-color: var(--frak-color-blur);
    --frak-navigation-profile-separator-color: var(--frak-color-white);
    --frak-navigation-item-color: var(--frak-color-white);
    --frak-navigation-item-hover-color: rgba(0, 20, 50, 1);
    --frak-navigation-item-hover-background-color: rgba(245, 245, 245, 0.5);
    --frak-button-color: var(--frak-color-white);
    --frak-button-primary-background-color: rgba(245, 245, 245, 0.37);
    --frak-button-secondary-background-color: var(--frak-color-white);
    --frak-button-secondary-border-color: var(--frak-color-mischka);
    --frak-button-secondary-color: var(--frak-color-tuna);
    --frak-input-background-color: var(--frak-color-white);
    --frak-input-border-color: var(--frak-color-mischka);
    --frak-input-text-color: var(--frak-color-regent-gray);
    --frak-input-placeholder-color: var(--frak-color-regent-gray);
    --frak-table-background-color: var(--frak-color-white);
    --frak-table-text-color: var(--frak-color-pale-sky);
    --frak-table-border-color: var(--frak-color-mischka);
    --frak-table-heading-text-color: var(--frak-color-tuna);
    --frak-table-row-border-color: var(--frak-color-athens-gray);
    --frak-pagination-border-color: var(--frak-color-athens-gray);
}
