:root {
    --frak-text-color: var(--frak-color-white);
    --frak-link-color: var(--frak-color-white);
    --frak-background-color: var(--frak-color-dark);
    --frak-contrast-background-color: var(--frak-color-blue-zodiac-darker);
    --frak-panel-text-color: var(--frak-color-tuna);
    --frak-panel-title-color: var(--frak-color-shark);
    --frak-panel-background-color: var(--frak-color-white);
    --frak-panel-border-color: var(--frak-color-mischka);
    --frak-header-background-color: var(--frak-color-blur);
    --frak-navigation-background-color: var(--frak-color-blur);
    --frak-navigation-profile-separator-color: var(--frak-color-white);
    --frak-navigation-item-color: var(--frak-color-white);
    --frak-navigation-item-hover-color: rgba(0, 20, 50, 1);
    --frak-navigation-item-hover-background-color: rgba(245, 245, 245, 0.5);
    --frak-button-color: var(--frak-color-white);
    --frak-button-primary-background-color: rgba(245, 245, 245, 0.37);
    --frak-button-secondary-background-color: var(--frak-color-white);
    --frak-button-secondary-border-color: var(--frak-color-mischka);
    --frak-button-secondary-color: var(--frak-color-tuna);
    --frak-button-outline-color: var(--frak-color-regent-gray);
    --frak-button-outline-border-color: var(--frak-color-regent-gray);
    --frak-button-information-background-color: var(--frak-color-moon-raker);
    --frak-button-information-text-color: var(--frak-color-royal-blue);
    --frak-button-informationOutline-background-color: var(--frak-color-white);
    --frak-button-informationOutline-border-color: var(--frak-color-royal-blue);
    --frak-input-background-color: var(--frak-color-white);
    --frak-input-border-color: var(--frak-color-mischka);
    --frak-input-text-color: var(--frak-color-regent-gray);
    --frak-input-placeholder-color: var(--frak-color-regent-gray);
    --frak-input-rightSection-text-color: var(--frak-color-pale-sky);
    --frak-table-background-color: var(--frak-color-white);
    --frak-table-text-color: var(--frak-color-pale-sky);
    --frak-table-border-color: var(--frak-color-mischka);
    --frak-table-heading-text-color: var(--frak-color-tuna);
    --frak-table-heading-background-color: var(--frak-color-whisper);
    --frak-table-row-border-color: var(--frak-color-athens-gray);
    --frak-pagination-border-color: var(--frak-color-athens-gray);
    --frak-separator-background-color: var(--frak-color-mischka);
    --frak-multiselect-trigger-border-color: var(--frak-color-mischka);
    --frak-multiselect-trigger-background-color: var(--frak-color-white);
    --frak-multiselect-checks-background-color: var(--frak-color-white);
    --frak-multiselect-checks-border-color: var(--frak-color-regent-gray);
    --frak-multiselect-checks-selected-text-color: var(--frak-color-white);
    --frak-multiselect-checks-selected-border-color: var(--frak-color-royal-blue);
    --frak-multiselect-checks-selected-background-color: var(--frak-color-royal-blue);
    --frak-checkbox-label-text-color: var(--frak-color-pale-sky);
    --frak-popover-text-color: var(--frak-color-tuna);
    --frak-popover-background-color: var(--frak-color-white);
}
