*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--frak-text-color);
    background-color: var(--frak-contrast-background-color);
    background-image: var(--frak-background-image-dark);
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--frak-link-color);
    text-decoration: none;
}

sub,
sup {
    font-size: 100%;
}

sup {
    top: -0.15em;
}

.button {
    all: unset;
    cursor: pointer;
}

.dotsLoading {
    font-family: Arial, sans-serif;
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.error {
    display: block;
    padding-top: 5px;
    color: var(--frak-color-red);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#nexus-wallet {
    width: 0;
    height: 0;
    border: 0;
    position: fixed;
    top: -1000px;
    left: -1000px;
    z-index: 1000;
}

#nexus-wallet.visible {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
