.step5__pushPasskey {
    margin-top: var(--alias-spacing-ms);
    padding-top: var(--alias-spacing-ms);
    border-top: 2px solid var(--frak-color-grayText);
}

.step5__buttonPush {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-2xs);
    margin: 0 auto;
}

.step5__buttonPush:disabled {
    color: var(--frak-color-grayText);
    cursor: not-allowed;
}
