.step5__pushPasskey {
    margin-top: var(--brand-scale-175);
    padding-top: var(--brand-scale-175);
    border-top: 2px solid var(--frak-color-grayText);
}

.step5__buttonPush {
    display: flex;
    align-items: center;
    gap: var(--brand-scale-75);
    margin: 0 auto;
}

.step5__buttonPush:disabled {
    color: var(--frak-color-grayText);
    cursor: not-allowed;
}
