.buttonLabel {
    font-size: var(--alias-fontsize-13);
    color: var(--frak-color-grayText);
    line-height: 16px;

    & > strong {
        color: var(--frak-color-white);
        font-size: var(--alias-fontsize-s);
        font-weight: var(--brand-fontweight-regular);
        line-height: 19px;
    }
}
