.root {
    padding: 12px;
}

.months {
    display: flex;
    flex-direction: column;
}

.caption {
    display: flex;
    position: relative;
    padding-top: 4px;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.navButtonPrevious,
.navButtonNext {
    all: unset;
    position: absolute;
    z-index: 1;
    display: flex;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.navButtonPrevious {
    left: 4px;
}

.navButtonNext {
    right: 4px;
}

.table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.headRow {
    display: flex;
}

.headCell {
    font-weight: 400;
    width: 36px;
}

.tbody {
    margin-top: 4px;
}

.row {
    display: flex;
    margin-top: 8px;
    width: 100%;
}

.cell {
    position: relative;
    padding: 0;
    line-height: 20px;
    width: 36px;
    height: 36px;
}

.day {
    padding: 0;
    width: 36px;
    height: 36px;
    justify-content: center;
    border-radius: 8px;

    &:hover {
        background-color: var(--frak-color-mischka);
    }
}

.daySelected {
    background-color: var(--frak-color-mischka);
    border-radius: 8px;
}

.dayToday {
    background-color: var(--frak-color-moon-raker);
    border-radius: 8px;
}

.dayOutside {
    opacity: 0.5;
}

.dayDisabled {
    opacity: 0.5;
}
