.productDetails__action {
    display: flex;
    align-items: center;
}

.productDetails__actionRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.inputWithToggle__button {
    all: unset;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }
}
