.login__grid > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__link {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 10px;
    text-decoration: none;
}

.login__icon {
    margin-bottom: 28px;
    max-width: 50%;
}
