.QRCodeWallet__code > canvas {
    display: block;
    margin: 10px auto 0 auto;
}

.QRCodeWallet__address {
    margin: 20px 0;
    font-size: 12px;
    text-align: center;
}

.QRCodeWallet__button {
    flex-direction: row;
    justify-content: center;
}
