.tokenItem {
    display: flex;
    align-items: center;
    gap: var(--frak-spacing-s);
    font-size: var(--alias-fontsize-m);
}

.tokenItem__button {
    all: unset;
    display: flex;
    align-items: center;
    gap: var(--frak-spacing-s);
    padding: var(--brand-scale-75) var(--brand-scale-175) var(--brand-scale-75)
        var(--brand-scale-75);
    border-radius: var(--frak-radius-s);
    cursor: pointer;
    transition: background var(--transition-base) var(--easing-in-out);
}

.tokenItem__button:hover {
    background-color: var(--frak-token-item-hover-color);
}
