.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: calc(
        var(--safe-area-inset-top, env(safe-area-inset-top, 0px))
    );
    min-height: 47px;
}

@media (min-width: 600px) {
    .header {
        position: relative;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 16px;
    min-height: 47px;
    backdrop-filter: blur(20px);
}

.header__logo,
.header__notification {
    position: absolute;
    top: 23.5px;
    transform: translateY(-50%);
    display: flex;
}

.header__logo {
    left: 12px;
}

.header__notification {
    right: 12px;
}
