.button {
    padding: 0;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 8px;

    &:focus {
        box-shadow: 0 0 0 1px var(--frak-focus-border-color);
    }
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.size--none {
    padding: 0;
}

.size--small {
    padding: 6px 10px;
}

.size--medium {
    padding: 8px 14px 9px 14px;
}

.size--big {
    padding: 6px 22px;
}

.leftIcon {
    margin-right: 8px;
}

.rightIcon {
    margin-left: 8px;
}

.primary {
    background: var(--frak-button-primary-background-color);
    border: 1px solid transparent;
    color: var(--frak-button-color);
}

.secondary {
    background: var(--frak-button-secondary-background-color);
    border: 1px solid var(--frak-button-secondary-border-color);
    color: var(--frak-button-secondary-color);
}

.outline {
    background: none;
    border: 1px solid var(--frak-button-outline-border-color);
    color: var(--frak-button-outline-color);
}

.ghost {
    background: none;
    border: 1px solid transparent;
}

.submit {
    background: var(--frak-button-submit-background-color);
}

.danger {
    background: var(--frak-button-danger-background-color);
}

.information {
    background-color: var(--frak-button-information-background-color);
    color: var(--frak-button-information-text-color);
    border: 1px solid transparent;
}

.informationOutline {
    background-color: var(--frak-button-informationOutline-background-color);
    color: var(--frak-button-information-text-color);
    border: 1px solid var(--frak-button-informationOutline-border-color);
}

.fontNormal {
    font-weight: 400;
}

.fontBold {
    font-weight: 700;
}

.loader {
    margin-right: 10px;
    margin-bottom: 2px;
}

.fontSize--small {
    font-size: 12px;
}

.fontSize--normal {
    font-size: 14px;
}

.fontSize--big {
    font-size: 16px;
}
