.columns {
    display: flex;
    gap: 10px;
    width: 100%;
}

.columns--align-start {
    align-items: flex-start;
}

.columns--align-center {
    align-items: center;
}

.columns + .columns {
    margin-top: 24px;
}

.column {
    flex-basis: 50%;
}

.column + .column {
    display: flex;
    gap: 8px;
}

.column + .column.column--justify-start {
    justify-content: flex-start;
}

.column + .column.column--justify-end {
    justify-content: flex-end;
}

.column--1-4 {
    flex-grow: initial;
    flex-basis: 25%;
}

.column--3-4 {
    flex-grow: initial;
    flex-basis: 75%;
}

.column--full {
    flex-grow: initial;
    flex-basis: 100%;
}

.column--none {
    flex-grow: initial;
    flex-basis: auto;
}
