.select__trigger {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 10px;
    height: 40px;
    gap: 5px;
    background-color: var(--frak-select-trigger-background-color);
    border: 1px solid var(--frak-select-trigger-border-color);
    color: var(--frak-select-trigger-text-color);
    cursor: pointer;

    &:focus-visible {
        box-shadow: 0 0 0 1px var(--frak-focus-border-color);
    }
}

.select__trigger:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.select__trigger--medium {
    width: 320px;
}

.select__trigger--big {
    width: 100%;
}

.select__icon {
    color: var(--frak-select-icon-color);
}

.select__content {
    overflow: hidden;
    background-color: var(--frak-select-content-background-color);
    border: 1px solid var(--frak-select-content-border-color);
    border-radius: 8px;
    box-shadow: var(--frak-select-content-shadow);
    max-height: 384px;
    min-width: var(--radix-select-trigger-width);
}

.select__viewport {
    padding: 5px;
}

.select__item {
    color: var(--frak-select-item-text-color);
    border-radius: 4px;
    padding: 7px 35px 7px 25px;
    position: relative;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select__item[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.select__item[data-highlighted] {
    outline: none;
    background: var(--frak-select-item-hover-background-color);
}

.select__label {
    padding: 7px 25px;
    color: var(--frak-select-label-text-color);
}

.select__separator {
    height: 1px;
    background-color: var(--frak-select-content-border-color);
    margin: 5px;
}

.select__itemIndicator {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    display: inline-flex;
    align-items: center;
}

.select__scrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: var(--frak-select-content-background-color);
    cursor: default;
    color: var(--frak-select-icon-color);
}
