.unlock__information {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 2px solid var(--frak-color-grayText);
}

.unlock__information--error {
    color: var(--frak-color-red);
    font-weight: 500;
}

.unlock__loading {
    color: var(--frak-color-grayText);
}

.unlock__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.unlock__fingerprints {
    margin: 32px 0;
}

.unlock__join {
    display: flex;
    margin-bottom: 20px;
}

.unlock__join > label {
    margin-left: 8px;
}
