.loginItem {
    padding-right: var(--alias-spacing-ms);
}

.loginItem__button {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    margin-bottom: var(--alias-spacing-12);
}

.loginItem__name {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-ms);
    margin-bottom: var(--alias-spacing-6);
}

.loginItem__icon {
    display: block;
}
