.loginItem {
    padding-right: var(--brand-scale-175);
}

.loginItem__button {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    margin-bottom: var(--brand-scale-300);
}

.loginItem__name {
    display: flex;
    align-items: center;
    gap: var(--brand-scale-175);
    margin-bottom: var(--brand-scale-125);
}

.loginItem__icon {
    display: block;
}
