.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--alias-spacing-ms);
    padding: var(--alias-spacing-9) var(--alias-spacing-12);
    border-radius: var(--frak-radius-s);
    background: var(--color-wallet-overlay-light);
    backdrop-filter: blur(80px);
    color: var(--frak-color-white);
    font-size: var(--alias-fontsize-13);
}

.warning__text {
    font-family:
        "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
        "Android Emoji", "EmojiOne Mozilla", "Twemoji Mozilla", "Noto Emoji",
        "Segoe UI Symbol", EmojiSymbols, emoji, sans-serif;
    font-size: var(--alias-fontsize-xs);
}
