.main {
    margin-top: calc(
        47px +
        var(--safe-area-inset-top, env(safe-area-inset-top, 0px))
    );
    margin-bottom: calc(
        47px +
        var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px))
    );
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.mainNoHeader {
    margin-top: 0;
}

.mainNoNav {
    margin-bottom: 0;
    height: calc(
        100dvh -
        47px -
        var(--safe-area-inset-top, env(safe-area-inset-top, 0px))
    );
}

.mainNoHeader.mainNoNav {
    height: 100dvh;
}

:root[data-page="sso"] {
    .main {
        margin-bottom: 0;
    }
}

@media (min-width: 600px) {
    .main {
        margin: 0;
        height: 710px;
    }

    .mainNoNav {
        height: 759px;
    }
}
