.table__actions {
    display: flex;
    gap: 8px;
    align-items: center;

    & > button {
        all: unset;
        cursor: pointer;
        display: flex;
    }
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 16px;
}

.filters__item {
    display: flex;
    gap: 16px;
    flex: 1;

    &:last-child {
        justify-content: flex-end;
    }
}

.filters__search {
    max-width: 320px;
}
