.navigation {
    position: fixed;
    bottom: 0;
    z-index: var(--z-dropdown);
    width: 100%;
    padding: var(--alias-spacing-ms) var(--frak-spacing-l);
    padding-bottom: calc(
        var(--alias-spacing-ms) +
        var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px))
    );
    background: var(--frak-header-background-color);
    backdrop-filter: blur(20px);
}

@media (min-width: 600px) {
    .navigation {
        position: relative;
    }
}

.navigation__list {
    display: flex;
    justify-content: space-between;
}
