.navigation {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 24px;
    padding-bottom: calc(
        10px +
        var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px))
    );
    background: var(--frak-header-background-color);
    backdrop-filter: blur(20px);
}

@media (min-width: 600px) {
    .navigation {
        position: relative;
    }
}

.navigation__list {
    display: flex;
    justify-content: space-between;
}
