.authFingerprint__button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 25px 8px;
    border-radius: 8px;
    background-color: var(--frak-auth-fingerprint-background-color);
    box-shadow: 4px 4px 4px 0 var(--frak-auth-fingerprint-shadow-color);
    position: relative;
    overflow: hidden;
    transition: background 400ms;
}

.authFingerprint__button--centered {
    text-align: center;
}

.authFingerprint__button:hover {
    box-shadow: 6px 6px 6px 0 var(--frak-auth-fingerprint-shadow-color);
}

.authFingerprint__button:active, .authFingerprint__button:target, .authFingerprint__button:disabled {
    box-shadow: none;
}

.authFingerprint__span {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--frak-color-blue-background);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes shiny {
    /*0% {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    50% {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
    100% {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }*/
    0% {
        transform: translateX(-25%);
    }
    /*25% {
        transform: translateY(25%);
    }*/
    50% {
        transform: translateX(25%);
    }
    /*75% {
        transform: translateY(-25%);
    }*/
    100% {
        transform: translateX(-25%);
    }
}

.authFingerprint__shiny {
    --base-color: #ffffff60;
    --highlight-color: #3984ff00 60%;
    --animation-duration: 6s;
    --animation-direction: normal;
    --pseudo-element-display: block; /* Enable animation */
}

.authFingerprint__shiny::after {
    content: ' ';
    display: var(--pseudo-element-display);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -500px 0 0 -500px;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(var(--base-color), var(--highlight-color));
    transform: translateX(-25%) translateY(-25%);
    opacity: 0.4;
    animation-name: shiny;
    animation-direction: var(--animation-direction);
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

:root[data-theme="dark"] .authFingerprint__shiny::after {
    --base-color: #ffffff;
    --highlight-color: #3984ff00 50%;
}

/*.authFingerprint__shiny::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
    animation: lightMove 5s infinite;
    transform: translateX(-40%);
}

@keyframes lightMove {
    0% {
        transform: translateX(-40%);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-40%);
    }
}*/
