.accordionConnect {
    width: 100%;
}

.accordionConnect__trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--frak-accordion-trigger-color);
    font-weight: 400;
    font-size: 14px;
}

.qrReader {
    margin: 10px 0;
}

.qrReader__reader {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
