.button {
    all: unset;
    position: fixed;
    bottom: 20px;
    z-index: 2000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e557e;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
}

.button__left {
    left: 20px;
}

.button__right {
    right: 20px;
}

.reward {
    position: absolute;
    top: -4px;
    right: 27px;
    padding: 2px 3px;
    border-radius: 5px;
    background: #ff3f3f;
    font-size: 9px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    line-height: 9px;
}
