.back {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-ms);
    margin-top: var(--alias-spacing-ms);
    margin-left: var(--alias-spacing-17);
    font-size: var(--alias-fontsize-l);
    letter-spacing: -0.02em;
}

.back--disabled {
    color: var(--frak-color-grayText);
}
