.back {
    display: flex;
    align-items: center;
    gap: var(--brand-scale-175);
    margin-top: var(--brand-scale-175);
    margin-left: var(--brand-scale-325);
    font-size: var(--alias-fontsize-l);
    letter-spacing: -0.02em;
}

.back--disabled {
    color: var(--frak-color-grayText);
}
