.setupRecovery__disclaimer {
    margin-bottom: var(--brand-scale-500);
}

.setupRecovery__disclaimer > svg {
    margin: 0 var(--brand-scale-75) var(--brand-scale-75) 0;
    vertical-align: middle;
}
