.setupRecovery__disclaimer {
    margin-bottom: var(--alias-spacing-20);
}

.setupRecovery__disclaimer > svg {
    margin: 0 var(--alias-spacing-2xs) var(--alias-spacing-2xs) 0;
    vertical-align: middle;
}
