.home__introduction {
    margin: 140px 20px 160px 20px;
    font-size: 19px;
    text-align: center;
}

.home__title {
    justify-content: center;
    font-size: 31px;
    margin-bottom: 30px;
}

.home__step {
    margin-bottom: 110px;

    & .home__title {
        font-size: 29px;
        line-height: 36px;
    }
}
