.pairing__list {
    display: flex;
    flex-direction: column;
    gap: var(--frak-spacing-m);
}

.pairing__item {
    background-color: var(--color-wallet-deep-blue);
    border-radius: var(--frak-radius-s);
    padding: var(--frak-spacing-m);
    transition-property: all;
    transition-timing-function: var(--easing-decelerate);
    transition-duration: var(--transition-fast);
}

.pairing__item:hover {
    background-color: var(--color-wallet-deep-blue-hover);
}

.pairing__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: var(--frak-spacing-m);
}

.pairing__id {
    font-size: var(--alias-fontsize-s);
    color: var(--color-wallet-slate);
}

.pairing__icon {
    height: 1rem;
    width: 1rem;
}

.pairing__details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--brand-scale-300);
    font-size: var(--alias-fontsize-s);
}

.pairing__label {
    color: var(--color-wallet-slate);
    display: flex;
    align-items: center;
    gap: var(--frak-spacing-xs);
}

.pairing__value {
    font-weight: var(--brand-fontweight-medium);
}

.pairing__footer {
    margin-top: var(--frak-spacing-m);
}

.pairing__deleteButton {
    width: 100%;
    color: var(--color-wallet-error-accent);
    transition:
        color var(--transition-slow),
        background-color var(--transition-slow);
}
