.uploader {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 322px;
    max-width: 508px;
    height: 48px;
    border: 2px dashed var(--frak-color-white);
    padding: 8px 16px 8px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.uploader__input {
    display: block;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.uploader__text {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
