.article {
    margin: 0 23px;
}

.article__title {
    margin: 0 0 9px 0;
    font-family: var(--font-family-merriWeather);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #434343;
}

.article__author {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    font-weight: 700;
    color: #434343;
}

.article__social {
    display: inline-block;
    margin-left: auto;

    & img + img {
        margin-left: 25px;
    }
}

.article__summary {
    margin-bottom: 9px;
    font-size: 13px;
    color: #434343;
}

.article__image {
    margin-bottom: 9px;
    max-width: 100%;
}

.article__markdown {
    font-family: var(--font-family-timesNewRoman);

    & p {
        margin-bottom: 9px;
    }

    & h2 {
        font-size: 12px;
        margin-bottom: 9px;
    }

    & blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }

    & blockquote p {
        display: inline;
    }
}
