.navigationTop__container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navigationTop__list {
    display: flex;
    gap: 40px;
}

.navigationTopItem__button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navigationTop__list {
        display: none;
    }
}
