.tokensSend__inputWrapper {
    margin-bottom: 30px;
}

.tokensSend__label {
    display: block;
    padding-bottom: 5px;
    color: var(--frak-color-grayText);
}

.tokensSend__bottom {
    margin-top: 20px;
}
