.skeletonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.skeletonContainer br {
    display: none;
}

.skeleton {
    border: 1px solid var(--frak-skeleton-border-color);
    border-radius: 8px;
}
