:root {
    --frak-text-color: var(--frak-color-white);
    --frak-link-color: var(--frak-color-white);
    --frak-background-color: var(--frak-color-dark);
    --frak-contrast-background-color: var(--frak-color-gradient-blue);
    --frak-panel-background-color: rgba(0, 0, 0, 0.35);
    --frak-panel-outlined-border-color: var(--frak-color-blue-zodiac-darker);
    --frak-panel-shadow-color: var(--frak-shadow-color);
    --frak-panel-border-color: rgba(129, 140, 156, 0.2);
    --frak-header-background-color: var(--frak-color-blur);
    --frak-input-background-color: var(--frak-color-blue-zodiac-darker);
    --frak-input-border-color: var(--frak-color-white);
    --frak-input-text-color: var(--frak-color-white);
    --frak-input-placeholder-color: var(--frak-color-silver-chalice);
    --frak-accordion-content-background-color: var(--frak-color-blue-background);
    --frak-accordion-trigger-color: var(--frak-color-white);
    --frak-notice-text-color: var(--frak-color-grayText);
    --frak-alertDialog-background-color: rgba(0, 0, 0, 0.5);
    --frak-alertDialog-button-primary-background-color: var(--frak-color-white);
    --frak-alertDialog-button-primary-text-color: var(--frak-color-black);
    --frak-alertDialog-button-secondary-background-color: var(
        --frak-color-black
    );
    --frak-alertDialog-button-secondary-text-color: var(--frak-color-white);
    --frak-alertDialog-button-secondary-border-color: var(--frak-color-white);
    --frak-button-border-radius: 16px;
    --frak-button-primary-background-color: rgba(0, 0, 0, 0.35);
    --frak-button-disabled-background-color: var(--frak-color-regent-gray-34);
    --frak-button-disabled-text-color: var(--frak-color-grayText);
    --frak-navigation-color: var(--frak-color-white);
    --frak-token-item-hover-color: var(--frak-color-grayText);
    --frak-header-wallet-color: var(--frak-color-east-bay);
    --frak-auth-fingerprint-background-color: var(
        --frak-color-blue-zodiac-darker
    );
    --frak-auth-fingerprint-shadow-color: var(--frak-shadow-color);
    --frak-token-max-background-color: var(--frak-color-blue-zodiac-darker);
    --frak-token-max-color: var(--frak-color-white);
    --frak-skeleton-base-color: #ebebeb;
    --frak-skeleton-highlight-color: #f5f5f5;
    --frak-skeleton-border-color: rgba(129, 140, 156, 0.2);
    --frak-checkbox-background-color: var(--frak-color-white);
    --frak-checkbox-border-color: var(--frak-color-tangaroa);
    --frak-checkbox-label-text-color: var(--frak-color-pale-sky);
    --frak-checkbox-checked-background-color: var(--frak-color-white);
    --frak-checkbox-checked-border-color: var(--frak-color-tangaroa);
    --frak-checkbox-checked-text-color: var(--frak-color-black);
    --frak-input-border-width: 0;
    --frak-drawer-background-color: #242321;
    --frak-drawer-handle-background-color: var(--frak-color-mystic);
}
