.skeletonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--alias-spacing-30);
}

.skeletonContainer br {
    display: none;
}

.skeleton {
    border: 1px solid var(--frak-skeleton-border-color);
}
