.radiosWrapper {
    display: inline-flex;
}

.radios {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 7px;
}

.radios:has(button[data-state="checked"]) {
    background: #818C9C24;
}
