.accordionRecoveryItem__trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: var(--frak-accordion-trigger-color);
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.accordionRecoveryItem__trigger:disabled {
    color: var(--frak-color-grayText);
    cursor: not-allowed;
}

.accordionRecoveryItem__trigger > span {
    margin-right: auto;
    text-align: left;
}

.accordionRecoveryItem__trigger > svg {
    margin: 0;
    flex-shrink: 0;
}

.accordionRecoveryItem__content > div {
    margin-top: 20px;
}
