.accordionRecoveryItem__trigger {
    display: flex;
    align-items: center;
    gap: var(--brand-scale-175);
    width: 100%;
    color: var(--frak-accordion-trigger-color);
    font-weight: var(--brand-fontweight-regular);
    font-size: var(--alias-fontsize-s);
    text-align: left;
}

.accordionRecoveryItem__trigger:disabled {
    color: var(--frak-color-grayText);
    cursor: not-allowed;
}

.accordionRecoveryItem__trigger > span {
    margin-right: auto;
    text-align: left;
}

.accordionRecoveryItem__trigger > svg {
    margin: 0;
    flex-shrink: 0;
}

.accordionRecoveryItem__content > div {
    margin-top: var(--brand-scale-500);
}
