.buttonRipple__button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 25px 8px;
    border-radius: 8px;
    background-color: var(--frak-button-primary-background-color);
    box-shadow: 4px 4px 4px 0 var(--frak-panel-shadow-color);
    position: relative;
    overflow: hidden;
    transition: background 400ms;
}

.buttonRipple__button:disabled {
    color: var(--frak-button-disabled-text-color);
    box-shadow: none;
    cursor: not-allowed;
}

.buttonRipple__button:hover {
    box-shadow: 6px 6px 6px 0 var(--frak-panel-shadow-color);
}

.buttonRipple__button:active, .buttonRipple__button:target, .buttonRipple__button:disabled {
    box-shadow: none;
}

.buttonRipple__span {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--frak-color-blue-background);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.size--small {
    padding: 8px;
}

.size--normal {
    padding: 17px 8px;
}

.size--big {
    padding: 25px 8px;
}

.isLoading {
    flex-direction: row;
    justify-content: center;
}
