.ssoHeader {
    display: flex;
    gap: 11px;
    align-items: center;
    margin: -17px -17px 17px -17px;
    padding: 8px 10px;
    border-bottom: 1px solid #3e5889;
}

.ssoHeader__title {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: #000;
}
