.history__panel {
    margin-bottom: var(--alias-spacing-20);
}

.history__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--alias-spacing-2xs);
}

.history__button {
    all: unset;
    font-size: var(--alias-fontsize-l);
    font-weight: var(--brand-fontweight-semi-bold);
    transition: color var(--transition-slow);
    cursor: pointer;
}

.history__active {
    color: var(--frak-color-black);
}
