:root {
    --frak-sso-background: radial-gradient(
            274.97% 95.91% at -5.51% 94.08%,
            rgba(0, 36, 106, 0.55) 0%,
            rgba(67, 109, 196, 0.55) 15.2%,
            rgba(255, 255, 255, 0.55) 54.38%
        ), #ffffff;
}

:root[data-page="sso"] {
    background: var(--frak-sso-background);
    color: #575757;
}

@media (min-width: 600px) {
    :root[data-page="sso"] {
        background: none;

        & .desktop {
            background: var(--frak-sso-background);
        }
    }
}
