.panel {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--frak-panel-border-color);
    background: var(--frak-panel-background-color);
    box-shadow: 0 2px 2px 0 #1018281A;
    color: var(--frak-panel-text-color);
}

.panel + .panel {
    margin-top: 24px;
}

.panel__title {
    margin-bottom: 14px;
    color: var(--frak-panel-title-color);
}
