.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:disabled {
        opacity: 0.7;
        cursor: default;
    }
}

.button__fadeIn {
    animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
