/** Modal */
.nexus-modal-overlay {
    background: rgba(0, 0, 0, 0.36);
}
.nexus-modal-content {
    border-radius: 17px;
    color: #fff;
    background: #00000075;
    backdrop-filter: blur(85px);

    & a {
        color: #007aff;
    }
}
.nexus-modal-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -.02em;
}
.nexus-modal-close {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: -.02em;
}
.nexus-modal-description {
}
.nexus-modal-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    letter-spacing: -.04em;
}
.nexus-modal-steps {
    gap: 30px;
    background-color: transparent;
}
.nexus-modal-step {
    flex: initial;
    position: relative;

    &::after {
        position: absolute;
        width: 15px;
        content: "---";
        margin-top: 3px;
        margin-left: 12px;
        font-size: 10px;
        letter-spacing: -.02em;
    }
}
.nexus-modal-step:last-child {
    &::after {
        display: none;
    }
}
.nexus-modal-step-active {
    background-color: #f5f5f51a;

    & .nexus-modal-step-number {
        background-color: #fff;
        color: #000;
    }
}
/*.nexus-modal-step-done {
    & .nexus-modal-step-number {
        background-color: #0ddb84;
        color: #000;
    }
}*/
.nexus-modal-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 40px;
}
.nexus-modal-buttons-wrapper > div {
    flex: 1;
    width: 100%;
    text-align: center;
}
.nexus-modal-button-primary,
.nexus-modal-button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 80%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 24px;
    text-align: center;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
.nexus-modal-button-primary {
    background-color: #000;
    color: #fff;
}
.nexus-modal-button-secondary {
    background-color: #fff;
    color: #000;
}

/** Drawer */
.nexus-drawer-overlay {
    background: rgba(0, 0, 0, 0.36);
}
.nexus-drawer-handle {
    margin-top: 5px;
    width: 135px;
    height: 5px;
    border-radius: 13px;
    background-color: #818c9c;
}
.nexus-drawer-content {
    background-color: #242321;
    color: #fff;
    box-shadow: 0 -3px 18px 0 #00000040;

    &:focus-visible {
        outline: none;
    }

    & .nexus-modal-steps,
    & .nexus-modal-step {
        background-color: initial;
        color: #fff;
    }

    & .nexus-modal-step {
        &::after {
            color: #fff;
        }
    }

    & .nexus-modal-step-active {
        & .nexus-modal-step-number {
            background-color: #fff;
            color: #001432;
        }
    }

    & .nexus-modal-button-primary {
        background-color: #fff;
        color: #001432;
    }
}
