.modalListenerWallet__text {
    margin-bottom: 29px;
    font-size: 21px;
    font-weight: 600;
}

.modalListenerWallet__buttonPrimary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 9px;
    border-radius: 11px;
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    background: var(--frak-header-background-color);
    backdrop-filter: blur(13px);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
