.modalListener__header {
    margin-bottom: 20px;
}

.modalListener__title {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
}

.modalListener__subTitle {
    margin-bottom: 10px;
}

.modalListener__error {
    text-align: center;
}

.modalListener__action {
    margin-top: 20px;
}

.modalListener__success {
    text-align: center;
    color: var(--frak-color-green);
}

.modalListener__steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 4px;
    background-color: var(--frak-panel-background-color);
    border-radius: 8px;
}

.modalListener__stepNumber {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-color: #818c9c;
    color: #fff;
    border-radius: 50%;
}

.modalListener__stepItem {
    flex: 1;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.modalListener__stepItem--active {
    background-color: #f5f5f51a;
    color: var(--frak-color-white);
}

.modalListener__help {
    margin-top: 20px;
    font-size: 12px;
    color: #818c9c;
}

.modalListener__context {
    margin-bottom: 10px;
}
