.modalListener__header {
    margin-bottom: 20px;
}

.modalListener__title {
    margin: 0;
    font-size: 16px;
}

.modalListener__subTitle {
    margin-bottom: 10px;
}

.modalListener__error {
    text-align: center;
}

.modalListener__action {
    margin-top: 20px;
}

.modalListener__success {
    text-align: center;
    color: var(--frak-color-green);
}

.modalListener__steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 4px;
    background-color: var(--frak-panel-background-color);
    border-radius: 8px;
}

.modalListener__stepItem {
    flex: 1;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.modalListener__stepItem--active {
    background-color: #F5F5F51A;
    color: var(--frak-color-white);
}

.modalListener__help {
    margin-top: 20px;
    font-size: 12px;
    color: #818C9C;
}

.modalListener__context {
    margin-bottom: 10px;
}
