.buttonRipple__button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: var(--frak-button-ripple-color);
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(80px);

    & > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
        padding: 25px 8px;
    }
}

.buttonRipple__button:disabled {
    color: var(--frak-button-disabled-text-color);
    cursor: not-allowed;
}

.buttonRipple__span {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--frak-button-ripple-effect-color);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.size--small {
    & > span {
        padding: 8px;
    }
}

.size--normal {
    & > span {
        padding: 17px 8px;
    }
}

.size--big {
    & > span {
        padding: 25px 8px;
    }
}

.isLoading {
    flex-direction: row;
    justify-content: center;
}
