.interaction__panel + .interaction__panel {
    margin-top: 20px;
}

.interaction__title {
    color: #7c7b8c;
    font-weight: 400;
}

.interaction__titleText {
    line-height: 1.4em;
}

.interaction__titleText > span {
    display: block;
}

.interaction__provider {
    color: var(--frak-text-color);
}
