.alertDialog__overlay {
    background-color: rgba(0, 0, 0, 0.44);
    position: fixed;
    z-index: 10;
    inset: 0;
    animation: overlayShow 250ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alertDialog__trigger {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    text-align: left;
    color: inherit;
}

.alertDialog__close {
    all: unset;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.alertDialog__content {
    background-color: var(--frak-alertDialog-background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 420px;
    max-height: 765px;
    padding: 15px;
    animation: contentShow 250ms cubic-bezier(0.16, 1, 0.3, 1);
    overflow-y: auto;
    border-radius: 12px;
}

.alertDialog__content.withCloseButton {
    padding-top: 17px;
}

.alertDialog__content:focus {
    outline: none;
}

.alertDialog__title {
    margin: 0 0 20px 0;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

.alertDialog__description {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
}

.alertDialog__text {
}

.alertDialog__footer {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    padding: 15px 0 0 0;
}

.alertDialog__footerAfter {
    padding: 15px 0 0 0;
    text-align: center;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
