.wrapper {
    margin-bottom: 48px;
    overflow: auto;
}

.main {
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    width: 100%;
}

.inner {
    width: 100%;
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .wrapper {
        margin: 0;
        height: 757px;
    }

    .main {
        min-height: 100%;
    }

    .inner {
        width: 430px;
    }
}
