.wrapper {
    margin-bottom: 48px;
    overflow: auto;
}

:root[data-page="sso"] {
    .wrapper {
        margin-bottom: 0;
    }
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inner {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 47px;
}

@media (min-width: 600px) {
    .wrapper {
        margin: 0;
        height: 757px;
    }

    .main {
        min-height: 100%;
    }

    .inner {
        padding-top: 0;
        width: 430px;
    }
}
