.historyGroup {
    display: flex;
    flex-direction: column;
    margin-top: var(--frak-spacing-m);

    h2 {
        margin-bottom: var(--frak-spacing-s);
    }
}

.historyGroup__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--alias-spacing-12) 0;
}
