.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action__left,
.action__right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.action__right {
    gap: 8px;
}
