.iconInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border: 1px solid #bbbec2;
    border-radius: 50%;
    color: #bbbec2;
    font-size: 10px;
    cursor: default;
}
