.iconInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border: 1px solid var(--frak-color-grayText);
    border-radius: 50%;
    color: var(--frak-color-grayText);
    font-size: 10px;
    cursor: default;
}
