.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
    min-height: 47px;
}

.header__logo {
    position: absolute;
    margin-top: -18px;
    top: 50%;
    left: -5px;
}

.header__notification {
    position: absolute;
    margin-top: -15px;
    top: 50%;
    right: -5px;
}
