html[data-page="authentication"] {
    position: relative;
    overflow: hidden;
    height: 100%;
    background: var(--frak-color-white);
    color: var(--frak-color-black);

    & body {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    & a {
        color: var(--frak-color-black);
    }
}
