.legalLinks__list {
    display: flex;
    flex-direction: column;
    gap: var(--brand-scale-175);
}

.legalLinks__link {
    display: flex;
    align-items: center;
    gap: var(--frak-spacing-s);
}
