:root {
    --frak-color-accent: #00baf1;
    --frak-color-accent-transition: rgba(246, 55, 237, 0);
    --frak-color-green: #00e617;
    --frak-color-gray: #03193a;
    --frak-color-grayText: #818c9c;
    --frak-color-black: #000;
    --frak-color-white: #fff;
    --frak-color-red: #ff0000;
    --frak-color-red-34: #65253b;
    --frak-color-dark: #001432;
    --frak-color-light: #dcdcdc;
    --frak-color-gray-input: #9b9b9b;
    --frak-color-blue-frak: #03193a;
    --frak-color-green-frak: #00e6d4;
    --frak-color-blue-light-frak: #00baf1;
    --frak-color-blue-background: #001432;
    --frak-color-tundora: #474747;
    --frak-color-mine-shaft: #1f1f1f;
    --frak-color-mine-shaft-lighter: #333333;
    --frak-color-blue-charcoal: #000b1c;
    --frak-color-bright-turquoise: #02e6d5;
    --frak-color-bright-turquoise-20: #184b67;
    --frak-color-turquoise-20: #213937;
    --frak-color-blumine: #1b697e;
    --frak-color-silver-chalice: #adadad;
    --frak-color-blue-zodiac: #123365;
    --frak-color-blue-zodiac-darker: #12244b;
    --frak-color-chartreuse-yellow: #ebff00;
    --frak-color-corn: #e4a400;
    --frak-color-alto: #d9d9d9;
    --frak-color-regent-gray-34: rgba(129, 140, 156, 0.34);
    --frak-color-flush-orange: #ff7a00;
}
