:root {
    --frak-color-accent: #00baf1;
    --frak-color-accent-transition: rgba(246, 55, 237, 0);
    --frak-color-green: #00e617;
    --frak-color-gray: #03193a;
    --frak-color-grayText: #818c9c;
    --frak-color-black: #000;
    --frak-color-white: #fff;
    --frak-color-red: #ff0000;
    --frak-color-red-34: #65253b;
    --frak-color-dark: #001432;
    --frak-color-light: #dcdcdc;
    --frak-color-gray-input: #9b9b9b;
    --frak-color-blue-frak: #03193a;
    --frak-color-green-frak: #00e6d4;
    --frak-color-blue-light-frak: #00baf1;
    --frak-color-blue-background: #001432;
    --frak-color-tundora: #474747;
    --frak-color-mine-shaft: #1f1f1f;
    --frak-color-mine-shaft-lighter: #333333;
    --frak-color-blue-charcoal: #000b1c;
    --frak-color-bright-turquoise: #02e6d5;
    --frak-color-bright-turquoise-20: #184b67;
    --frak-color-turquoise-20: #213937;
    --frak-color-blumine: #1b697e;
    --frak-color-silver-chalice: #adadad;
    --frak-color-blue-zodiac: #123365;
    --frak-color-blue-zodiac-darker: #12244b;
    --frak-color-chartreuse-yellow: #ebff00;
    --frak-color-corn: #e4a400;
    --frak-color-alto: #d9d9d9;
    --frak-color-regent-gray-34: rgba(129, 140, 156, 0.34);
    --frak-color-flush-orange: #ff7a00;
    --frak-color-east-bay: #3F5279;
    --frak-color-mystic: #E2EBEF;
    /* url encoded of background-light.svg */
    --frak-background-image-light: url("data:image/svg+xml,%3Csvg%20width%3D%22430%22%20height%3D%22954%22%20viewBox%3D%220%200%20430%20954%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20width%3D%22430%22%20height%3D%22953.093%22%20fill%3D%22url(%23paint0_radial_8836_1005)%22%2F%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3CradialGradient%20id%3D%22paint0_radial_8836_1005%22%20cx%3D%220%22%20cy%3D%220%22%20r%3D%221%22%20gradientUnits%3D%22userSpaceOnUse%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20gradientTransform%3D%22translate(110.5%20431.5)%20rotate(48.8603)%20scale(582.918%20262.991)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22white%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23B8C9D1%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FradialGradient%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
    /* url encoded of background-dark.svg */
    --frak-background-image-dark: url("data:image/svg+xml,%3Csvg%20width%3D%22430%22%20height%3D%22954%22%20viewBox%3D%220%200%20430%20954%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20width%3D%22430%22%20height%3D%22953.093%22%20fill%3D%22url(%23paint0_radial_8797_1493)%22%2F%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3CradialGradient%20id%3D%22paint0_radial_8797_1493%22%20cx%3D%220%22%20cy%3D%220%22%20r%3D%221%22%20gradientUnits%3D%22userSpaceOnUse%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20gradientTransform%3D%22translate(110.5%20431.5)%20rotate(48.8603)%20scale(582.918%20262.991)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23194380%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2303193A%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FradialGradient%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
    --frak-shadow-color: #00000040;
}
