*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--frak-text-color);
    scroll-behavior: smooth;
    height: 100dvh;
    transition: background .3s;
    overflow: hidden;

    & body {
        height: 100dvh;
        @mixin flex flex-start, flex-start, column;
        position: relative;
        overflow: auto;

        & .desktop {
            min-height: 100dvh;
        }
    }
}

@media (min-width: 600px) {
    html body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & .desktop {
            margin: auto;
            width: 430px;
            height: 805px;
            min-height: auto;
            overflow: auto;
            background-size: cover;
            transition: background .3s;
        }
    }
}

/**
 * Light mode
 */
:root[data-theme="light"] {
    background-image: var(--frak-background-image-light);
}

@media (min-width: 600px) {
    :root[data-theme="light"] {
        background-image: none;
        background-color: var(--frak-contrast-background-color);

        & .desktop {
            background-image: var(--frak-background-image-light);
        }
    }
}

/**
 * Dark mode
 */
:root[data-theme="dark"] {
    background-color: var(--frak-contrast-background-color);
    background-image: var(--frak-background-image-dark);
}

@media (min-width: 600px) {
    :root[data-theme="dark"] {
        background-image: none;
        background-color: var(--frak-contrast-background-color);

        & .desktop {
            background-image: var(--frak-background-image-dark);
        }
    }
}

body {
    font-size: 14px;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--frak-link-color);
}

sub,
sup {
    font-size: 100%;
}

sup {
    top: -0.15em;
}

.button {
    all: unset;
    cursor: pointer;
}

.dotsLoading {
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.error {
    display: block;
    padding-top: 5px;
    color: var(--frak-color-red);
}

.react-loading-skeleton {
    --base-color: var(--frak-skeleton-base-color);
    --highlight-color: var(--frak-skeleton-highlight-color);
    border-radius: 8px;
}

.scrollbars {
    --scrollbar-foreground: #999;
    --scrollbar-background: transparent;
    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
    scrollbar-width: thin;
}

.scrollbars::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scrollbar-foreground);
}

.scrollbars::-webkit-scrollbar-track { /* Background */
    background: var(--scrollbar-background);
}
