*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-size: cover;
    color: var(--frak-text-color);
    scroll-behavior: smooth;
    height: 100dvh;
    transition: background .3s;

    & body {
        height: 100dvh;
        @mixin flex flex-start, flex-start, column;
        position: relative;
    }
}

@media (min-width: 600px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & .desktop {
            margin: auto;
            width: 430px;
            height: 805px;
            overflow: auto;
            background-size: cover;
            transition: background .3s;
        }
    }
}

/**
 * Light mode
 */
:root[data-theme="light"] {
    background: center no-repeat var(--frak-background-image-light);
}

@media (min-width: 600px) {
    :root[data-theme="light"] {
        background: var(--frak-contrast-background-color);

        & .desktop {
            background: center no-repeat var(--frak-background-image-light);
        }
    }
}

/**
 * Dark mode
 */
:root[data-theme="dark"] {
    background: center no-repeat var(--frak-background-image-dark);
}

@media (min-width: 600px) {
    :root[data-theme="dark"] {
        background: var(--frak-contrast-background-color);

        & .desktop {
            background: center no-repeat var(--frak-background-image-dark);
        }
    }
}

body {
    font-size: 14px;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--frak-link-color);
}

sub,
sup {
    font-size: 100%;
}

sup {
    top: -0.15em;
}

.button {
    all: unset;
    cursor: pointer;
}

.dotsLoading {
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.error {
    display: block;
    padding-top: 5px;
    color: var(--frak-color-red);
}

.react-loading-skeleton {
    --base-color: var(--frak-skeleton-base-color);
    --highlight-color: var(--frak-skeleton-highlight-color);
    border-radius: 8px;
}
