.accordionChainSwitch {
}

.accordionChainSwitch__trigger {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--frak-accordion-trigger-color);
    margin-right: 8px;
}

.accordionChainSwitch__trigger > h2 {
    flex-grow: 1;
}

