.modalPairing__header {
    text-align: center;
    margin-bottom: 20px;
}

.modalPairing__title {
    margin: 0;
    font-size: 18px;
}

.modalPairing__subTitle {
    font-size: 16px;
}

.modalPairing__link {
    text-decoration: none;
}

.modalPairing__error {
    text-align: center;
}

.modalPairing__buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.modalPairing__warning {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: var(--frak-color-grayText);
}

.modalPairing__success {
    text-align: center;
    margin-top: 20px;
    color: var(--frak-color-green);
}

.modalWc__accordion {
}

.modalWc__accordionTrigger {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--frak-accordion-trigger-color);
    font-weight: 400;
    font-size: 14px;
}

.modalWc__message {
    white-space: pre-wrap;
}
