.accordionTransactions__trigger {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--frak-accordion-trigger-color);
    font-weight: 400;
    font-size: 12px;
}

.accordionTransactions__content {
    overflow: auto !important;
}
