.newProductForm__introduction {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
}

.newProductForm__verify {
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 400;
}

.newProductForm__fingerprint {
    margin-bottom: 20px;
    font-size: 16px;
}
