.table__actions {
    display: flex;
    gap: 8px;
    align-items: center;

    & > button {
        all: unset;
        cursor: pointer;
        display: flex;
    }
}

.table__buttonWallet {
    color: var(--frak-color-royal-blue);
    font-weight: 600;
}
