.accordionJoinCommunity {
    margin-top: 10px;
}

.accordionJoinCommunity__trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: var(--frak-accordion-trigger-color);
    font-weight: 400;
    font-size: 14px;
}

.accordionJoinCommunity__trigger > span {
    margin-right: auto;
}

.accordionJoinCommunity__trigger > svg {
    margin: 0;
}

.accordionJoinCommunity__content > div {
    margin-top: 10px;
}
