.loginItem__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.loginItem__name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.loginItem__icon {
    display: block;
}
