.panel {
    padding: 7px 10px;
    border-radius: 8px;
    background-color: var(--frak-panel-background-color);
}

.panel + .panel {
    margin-top: 8px;
}

.outlined {
    border: 4px solid #12244B;
    background: none;
}
