.unlockButtons__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 1.6rem;
    height: 3rem;
}

.unlockButtons__logo {
    margin-right: 10px;
}

.unlockButtons__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 64px;
    padding: 20px;
    text-align: center;
}

.unlockButtons__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.unlockButtons__text {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: .02rem;
    margin-bottom: 16px;
    max-width: 47rem;
    text-align: center;
}

.dotsLoading {
    font-family: Arial, sans-serif;
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

/**
 * Le Monde
 */
.unlockButtons--le-monde .unlockButtons__header {
    color: #454f5f;
    font-family: Marr Sans, Arial, Roboto, sans-serif;
    background-color: #ffe38f;
    font-size: 14px;
}

.unlockButtons--le-monde .unlockButtons__header--valid {
    margin-top: 20px;
}

.unlockButtons--le-monde .unlockButtons__content {
    font-family: The Antiqua B, Georgia, Droid-serif, serif;
    background-color: #fff6d3;
}

.unlockButtons--le-monde .unlockButtons__text {
    color: #2a303b;
}

/**
 * L'équipe
 */
.unlockButtons--l-equipe {
    margin-bottom: 30px;
}

.unlockButtons--l-equipe .unlockButtons__header {
    padding: 0;
    font-size: 18px;
    color: #454f5f;
    background-color: rgb(255, 187, 0);
}

.unlockButtons--l-equipe .unlockButtons__header--valid {
    margin-top: 20px;
}

.unlockButtons--l-equipe .unlockButtons__content {
    background-color: rgb(60, 60, 59);
}

.unlockButtons--l-equipe .unlockButtons__text {
    font-size: 16px;
    color: rgb(197, 197, 197);
}

.article__content--restricted-media {
    height: auto !important;
}

/**
 * Wired
 */
.unlockButtons--wired .unlockButtons__header {
    border-bottom: 1px solid #e1e1e1;
}

.unlockButtons--wired .unlockButtons__content {
    border-bottom: 2px solid #e1e1e1;
}

.unlockButtons--wired .unlockButtons__text {
    margin-top: 0;
}

@media (min-width: 1024px) {
    .gncDne {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: calc(1023px)) {
    .gncDne {
        height: auto;
    }
}

@media (max-width: calc(767px)) {
    .gncDne {
        height: auto;
    }

    .dkAtsv {
        flex-direction: column;
    }

    .ifcKKK {
        max-height: 100%;
    }
}
