.unlockButtons {
    min-height: 64px;
    padding: 20px;
    text-align: center;
}

.unlockButtons__logo {
    margin-right: 10px;
}

.unlockButtons__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.unlockButtons__loader {
    vertical-align: text-bottom;
}

.unlockButtons__buttonUnlock {
    display: block;
    margin: 0 auto;
}

.unlockButtons__header--valid {
    margin-top: 20px;
    background: #FFE38F !important;
}

.unlockButtons__content--valid {
    background: #FFF6D3 !important;
}
