.tokenModalList__trigger {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-ms);
    padding: var(--alias-spacing-6) var(--alias-spacing-ms)
        var(--alias-spacing-6) var(--alias-spacing-6);
    border-right: 1px solid var(--color-wallet-gray-mid);
    font-weight: var(--brand-fontweight-bold);
}

.tokenModalList__trigger::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: var(--color-wallet-gray-mid) transparent transparent
        transparent;
    transform: rotate(0deg);
}
