.QRCodeWallet__code > svg {
    display: block;
    margin: var(--brand-scale-175) auto 0 auto;
}

.QRCodeWallet__address {
    margin: var(--brand-scale-500) 0;
    font-size: var(--alias-fontsize-xs);
    text-align: center;
}

.QRCodeWallet__button {
    & > span {
        flex-direction: row !important;
        justify-content: center !important;
    }
}
