.homeNavigation {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--frak-spacing-s) var(--brand-scale-175) var(--frak-spacing-s);
}

.button {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: var(--frak-spacing-xs);
    text-align: center;
    width: 55px;
}

.button__lines {
    line-height: 13px;
}

.button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: var(--brand-scale-875);
    background: var(--color-wallet-overlay-light);
    backdrop-filter: blur(14px);
}
