.step5__pushPasskey {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid var(--frak-color-grayText);
}

.step5__buttonPush {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}

.step5__buttonPush:disabled {
    color: var(--frak-color-grayText);
    cursor: not-allowed;
}
