.devices {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--brand-scale-1200);
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device__icon {
    height: 4rem;
    width: 4rem;
    border-radius: var(--frak-radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--frak-spacing-s);
}

.device__icon--mobile {
    background-color: var(--alias-neutral-white);
}

.device__icon--mobile svg {
    height: 2rem;
    width: 2rem;
    color: var(--alias-neutral-default);
}

.device__icon--desktop {
    background-color: var(--alias-neutral-white);
}

.device__icon--desktop svg {
    height: 2rem;
    width: 2rem;
    color: var(--alias-neutral-default);
}

.device__label {
    font-size: var(--alias-fontsize-s);
    font-weight: var(--brand-fontweight-medium);
}

.connector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
    position: relative;

    &::before {
        content: "";
        width: 4rem;
        height: 0.125rem;
        background-color: var(--color-wallet-border-light);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        margin-top: -0.7rem;
    }
}
