.devices {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device__icon {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.device__icon--mobile {
    background-color: #fff;
}

.device__icon--mobile svg {
    height: 2rem;
    width: 2rem;
    color: #000;
}

.device__icon--desktop {
    background-color: #fff;
}

.device__icon--desktop svg {
    height: 2rem;
    width: 2rem;
    color: #000;
}

.device__label {
    font-size: 0.875rem;
    font-weight: 500;
}

.connector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
    position: relative;

    &::before {
        content: "";
        width: 4rem;
        height: 0.125rem;
        background-color: rgb(209 213 219);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        margin-top: -0.7rem;
    }
}
