html {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--frak-text-color);
    background-color: var(--frak-contrast-background-color);
    background-image: var(--frak-background-image-dark);
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: var(--frak-link-color);
    text-decoration: none;
}

.error {
    display: block;
    padding-top: 5px;
    color: var(--frak-color-red);
}
