.panel {
    border-radius: var(--brand-scale-350);
    transition: background var(--transition-slow);
    background-size: cover;
    background-position: -100%;
    border: 1px solid var(--frak-panel-border-color);
}

.panel + .panel {
    margin-top: var(--brand-scale-175);
}

.primary {
    background-color: var(--frak-panel-background-color);
    backdrop-filter: blur(40px);
}

.outlined {
    border: 4px solid var(--frak-panel-outlined-border-color);
    background: none;
}

.empty {
    background: none;
}

.invisible {
    background: none;
    border-color: transparent;
}

.size--none {
    padding: 0;
}

.size--small {
    padding: var(--brand-scale-300);
}

.size--normal {
    padding: var(--brand-scale-325) var(--brand-scale-300);
}

.size--big {
    padding: var(--brand-scale-550) var(--brand-scale-300);
}

.shadow {
    box-shadow: 4px 4px 4px 0 var(--frak-panel-shadow-color);
}

.dismissible {
    position: relative;
}

.dismissible__button {
    all: unset;
    position: absolute;
    top: 5px;
    right: 9px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
