.select__trigger {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 10px;
    height: 40px;
    gap: 5px;
    background-color: white;
    border: 1px solid var(--frak-color-mischka);
    cursor: pointer;

    &:focus-visible {
        box-shadow: 0 0 0 1px var(--frak-focus-border-color);
    }
}
.select__trigger:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.select__trigger--medium {
    width: 320px;
}

.select__trigger--big {
    width: 100%;
}

/*.select__trigger[data-placeholder] {
    color: var(--violet-9);
}*/

.select__icon {
    color: var(--frak-color-tuna);
}

.select__content {
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px
        rgba(22, 23, 24, 0.2);
    max-height: 384px;
    width: var(--radix-select-trigger-width);
}

.select__viewport {
    padding: 5px;
}

.select__item {
    color: var(--frak-color-tuna);
    border-radius: 4px;
    padding: 7px 35px 7px 25px;
    position: relative;
    user-select: none;
}

.select__item[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.select__item[data-highlighted] {
    outline: none;
    background: #818c9c24;
}

.select__label {
    padding: 7px 25px;
    color: var(--frak-color-regent-gray);
}

/*.select__separator {
    height: 1px;
    background-color: var(--violet-6);
    margin: 5px;
}*/

.select__itemIndicator {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    display: inline-flex;
    align-items: center;
}

.select__scrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    cursor: default;
    color: var(--frak-color-tuna);
}
