.container {
    margin: auto;
    max-width: 590px;
    padding: 16px;
}

.header {
    padding: 16px;
    text-align: center;
    font-size: 18px;
}

.title {
    font-size: 18px;
    color: #0d141c;
}

.introduction {
    margin-bottom: 64px;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 500;
    color: #0d141c;
}

.footer {
    padding: 40px 20px;
    text-align: center;
    font-size: 16px;
    color: #4f7396;
}

.footer a {
    color: #4f7396;
    text-decoration: none;
}
