.navigation__button {
    all: unset;
    display: flex;
    cursor: pointer;
}

.navigation__button > svg {
    stroke: var(--frak-color-grayText);
}

.navigation__button--active > svg {
    stroke: var(--frak-navigation-color);
}
