.accordionInformation__trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    color: var(--frak-accordion-trigger-color);
    font-weight: 400;
    font-size: 14px;
}

.accordionInformation__content {
    margin-top: 15px;
}
