.buttonMintCommunity {
    position: relative;
    margin-bottom: 14px;
}

.buttonMintCommunity__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    border-radius: 50%;
}
