.quickBites {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10%;
    padding: 8px;
    background-color: #f8f8f8;
    border-radius: 8px;
    color: #434343;
}

.quickBites__title {
    font-family: var(--font-family-merriWeather);
    color: #434343;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}
