.title {
    display: flex;
    align-items: center;
    gap: var(--brand-scale-175);
}

.size--medium {
    font-size: var(--alias-fontsize-s);
    font-weight: var(--brand-fontweight-medium);
}

.size--big {
    font-size: var(--alias-fontsize-l);
    font-weight: var(--brand-fontweight-semi-bold);
}

.align--left {
    justify-content: flex-start;
}

.align--center {
    justify-content: center;
}

.title__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
