.demoAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--brand-scale-175);
    padding: var(--brand-scale-150) var(--brand-scale-300);
    border-radius: var(--frak-radius-s);
    background: var(--color-wallet-overlay-light);
    backdrop-filter: blur(80px);
    color: var(--frak-color-white);
    font-size: var(--brand-fontsize-150);
    font-weight: var(--brand-fontweight-bold);

    & > p {
        display: flex;
        align-items: center;
        gap: var(--brand-scale-75);
    }
}

.demoAccount__warning {
    font-family:
        "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
        "Android Emoji", "EmojiOne Mozilla", "Twemoji Mozilla", "Noto Emoji",
        "Segoe UI Symbol", EmojiSymbols, emoji, sans-serif;
    font-size: var(--alias-fontsize-s);
}
