.accordionLogin__trigger {
    display: flex;
    align-items: center;
    gap: var(--alias-spacing-ms);
    color: var(--frak-accordion-trigger-color);
    font-weight: var(--brand-fontweight-regular);
    font-size: var(--alias-fontsize-s);
}

.accordionLogin__content {
    margin-right: calc(-1 * var(--alias-spacing-ms));
}

.accordionLogin__content > div {
    margin-top: var(--alias-spacing-20);
}
