.accordionLogin__trigger {
    display: flex;
    align-items: center;
    gap: var(--brand-scale-175);
    color: var(--frak-accordion-trigger-color);
    font-weight: var(--brand-fontweight-regular);
    font-size: var(--alias-fontsize-s);
}

.accordionLogin__content {
    margin-right: calc(-1 * var(--brand-scale-175));
}

.accordionLogin__content > div {
    margin-top: var(--brand-scale-500);
}
