.formGoals__label {
    display: flex !important;
    align-items: center;
    gap: 8px;
}

.formGoals__badges {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.formGoals__informationWrapper {
    max-width: 428px;
    margin-left: auto;
}

.formGoals__information {
    padding: 16px;
    color: var(--frak-color-pale-sky);
}

.formGoals__information--awareness {
    background: #FDF1E8;
}

.formGoals__information--traffic {
    background: #D8E1FF;
}

.formGoals__information--registration {
    background: #E8FDE9;
}

.formGoals__information--sales {
    background: #FDE8EB;
}

.formGoals__information--retention {
    background: #FDFCE8;
}

.formGoals__title {
    color: var(--frak-color-tuna);
    font-size: 16px;
    font-weight: 500;
}
