.panel {
    border-radius: 12px;
    transition: background .3s;
    background-size: cover;
    background-position: -100%;
    border: 1px solid var(--frak-panel-border-color);
}

.panel + .panel {
    margin-top: 32px;
}

.primary {
    background-color: var(--frak-panel-background-color);
    backdrop-filter: blur(80px);
}

.outlined {
    border: 4px solid var(--frak-panel-outlined-border-color);
    background: none;
}

.empty {
    background: none;
}

.invisible {
    background: none;
    border-color: transparent;
}

.size--none {
    padding: 0;
}

.size--small {
    padding: 8px;
}

.size--normal {
    padding: 17px 8px;
}

.size--big {
    padding: 25px 8px;
}

.shadow {
    box-shadow: 4px 4px 4px 0 var(--frak-panel-shadow-color);
}
