.loginItem {
    padding-right: 10px;
}

.loginItem__button {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    margin-bottom: 12px;
}

.loginItem__name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.loginItem__icon {
    display: block;
}
