.inputWrapper {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--frak-input-background-color);
}

.input {
    all: unset;
    box-sizing: border-box;
    padding: 5px 8px;
    width: 100%;
    line-height: 1.7;
    color: var(--frak-input-text-color);
    font-size: 16px;
}

.input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--frak-input-placeholder-color);
    opacity: 1;
    /* Firefox */
}

.input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--frak-input-placeholder-color);
}

.input[data-invalid="true"] {
    border-color: #818c9c;
    color: #adadad;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"] {
    -moz-appearance: textfield;
}
