.modalListenerWallet {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    border-radius: 25px;
    border: 2px solid #fff;
    text-align: center;
    animation: expand-width .3s forwards;
    min-height: 48px;
    background: radial-gradient(
        75.96% 75.96% at 50.42% 24.04%,
        #f2f2f2 20%,
        #3e557e 100%
    );
    color: #1d1d1d;
}

@keyframes expand-width {
    from {
        width: 66px;
    }
    to {
        width: calc(100% - 40px);
    }
}

.modalListenerWallet__inner {
    max-height: 0;
    opacity: 0;
    padding: 40px;
    overflow: hidden;
    animation: expand-height .3s .3s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

.modalListenerWallet__inner--loggedIn {
    padding: 9px;
}

@keyframes expand-height {
    from {
        opacity: 0;
        max-height: 0;
        transform: translate(0%, 30%) scale(0.96);
    }
    to {
        opacity: 1;
        max-height: 500px;
        transform: translate(0%, 0%) scale(1);
    }
}

.modalListenerWallet__header {
    position: relative;

    & h1 {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

.modalListenerWallet__logoFrak {
    position: absolute;
    left: 0;
    top: 8px;
}

.modalListenerWallet__logo {
    margin-bottom: 30px;
    max-width: 50%;
}

.modalListenerWallet__inner--loggedIn .modalListenerWallet__logo {
    margin-bottom: 10px;
    max-width: 30%;
}

.modalListenerWallet__text {
    margin-bottom: 29px;
    font-size: 21px;
    font-weight: 600;
}

.modalListenerWallet__buttonPrimary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border: 1px solid #ffffff;
    padding: 9px;
    border-radius: 11px;
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    background: var(--frak-header-background-color);
    backdrop-filter: blur(13px);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.balance {
    color: var(--frak-color-grayText);
}

.balance__title {
    display: inline;
    position: relative;
    font-size: 21px;
    font-weight: 400;
}

.balance__status {
    position: absolute;
    bottom: 2px;
    margin-left: 4px;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
}

.balance__amount {
    font-size: 34px;
    font-weight: 600;
    /* box-shadow: 0px 4px 4px 0px #0000001a; */
}

.modalListenerWallet__actionButtons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 100px 0 10px 0;
}
