.navigationProfile {
    display: flex;
    align-items: center;
    gap: 12px;

    &::before {
        content: "";
        width: 1px;
        height: 40px;
        background: var(--frak-navigation-profile-separator-color);
    }
}

.navigationProfile__avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;

    & > svg {
        margin-top: 3px;
        margin-left: 1px;
    }
}

.navigationProfile__infos {
    display: flex;
    flex-direction: column;
    gap: 2px;

    & > span:last-child {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .navigationProfile {
        &::before {
            display: none;
        }
    }
}
