:root {
    --frak-text-color: var(--frak-color-white);
    --frak-link-color: var(--frak-color-white);
    --frak-background-color: var(--frak-color-dark);
    --frak-panel-background-color: var(--frak-color-blue-zodiac-darker);
    --frak-input-background-color: var(--frak-color-blue-zodiac-darker);
    --frak-input-border-color: var(--frak-color-white);
    --frak-input-text-color: var(--frak-color-white);
    --frak-input-placeholder-color: var(--frak-color-silver-chalice);
    --frak-button-primary-background-color: var(
            --frak-color-bright-turquoise-20
    );
    --frak-button-primary-border-color: var(--frak-color-blumine);
    --frak-button-outlined-border-color: var(--frak-color-bright-turquoise);
    --frak-button-submit-background-color: var(
            --frak-color-bright-turquoise-20
    );
    --frak-button-submit-border-color: var(--frak-color-bright-turquoise);
    --frak-button-danger-background-color: var(--frak-color-red-34);
    --frak-button-danger-border-color: var(--frak-color-red);
    --frak-button-disabled-background-color: var(--frak-color-regent-gray-34);
    --frak-button-disabled-border-color: var(--frak-color-grayText);
    --frak-button-disabled-text-color: var(--frak-color-grayText);
}
