*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#frak-paywall {
    width: 100%;
}

.lmd-paywall__text {
    max-width: 60rem !important;
}

.dotsLoading {
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}
