# Service Worker
/public/sw*
/public/swe-worker*

# Playwright
/playwright-report/
/test-results
/test-results-light
/tests-light/specs/**/*-snapshots
/playwright/.storage

# Coverage
/coverage

# TanStack Router
/app/routeTree.gen.ts

# Rust
**/*.rs.bk

# Tauri plugins
src-tauri/plugins/*/ios/.build/
src-tauri/plugins/*/android/.build/
src-tauri/plugins/*/android/.tauri/

# Tanstack temo
.tanstack/tmp/