# Service Worker
/public/sw*
/public/swe-worker*

# Playwright
/playwright-report/
/test-results
/playwright/.storage

# Coverage
/coverage

# TanStack Router
/app/routeTree.gen.ts

# Rust
**/*.rs.bk
Cargo.lock